@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

html {
  height: 100%;
}

body {
  height: 100%;
}

.align {
  align-content: flex-start;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

div.row.thin-gutters {
  margin: 0 2px 0 2px;
}

div.row.thin-gutters > .col,
div.row.thin-gutters > [class*="col-"] {
  padding: 8px 8px;
}

div.card {
  border: none;
  justify-content: center;
  overflow: auto;
}

div.card-block {
  align-content: center;
  max-width: 100%;
}

div.left-form > div.card > div.card-block {
  margin: 10px;
}

.form-control {
  margin: 5px;
}

div.col-sm-6, div.col-sm-6 {
  max-height: fit-content;
  overflow: auto;
}

div.video-container {
  max-width: 100%;
}

video {
  width: 95%;
  height: 60%;
}
.overlay {
  position: absolute;
  display: none;
   bottom: 0;
  background-image: url(./backgrounds/mic/2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  z-index: 112;
  /* cursor: pointer; */
}
@media (max-width: 900px) {
  div.col-sm-8, div.col-sm-4 {
    max-width: 100%;
    flex: 100%;
  }

  div.col-sm-8 {
    height: 40%;
  }

  div.col-sm-4 {
    height: 60%;
  }
}
 
img{border:solid 1px rgb(135, 136, 85); margin:10px;}

.selected{
    box-shadow:0px 12px 22px 1px rgb(179, 150, 150);
    border:4px solid yellow;
}
.columnimg {
  float: left;

  width: 120px;
  height: 120px;
  padding: 5px;
}
